<div id="my-account-panel" class="my-account-panel">
    {% if authorized_user %}
        {% include 'my_account/user.twig' %}
    {% else %}
        {% include 'my_account/user.twig' %}
        {#{% include 'widgets/loginform.twig' %}#}
    {% endif %}
</div>